@import "./scss/1-helpers/_variables.scss";

.app {
  background: $twitter-navy;
}

textarea:focus {
  outline: none;
}
 
.spinner {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  padding-top: 30px;
}
