@import "./1-helpers/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: var(--twitter-navy);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
